.edit-inventory-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-edit-inventory {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 1200px;
    width: 1200px;
    height: 525px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.category-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.item-name-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 46%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    float: left;
}

.gender-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 26%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.age-range-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 27%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    float: right;
}

.description-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.count-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 26%;
    border: 0;
    margin: 2px 2px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    float: left;
}

.price-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 23%;
    border: 0;
    margin: 2px 2px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.best-price-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 23%;
    border: 0;
    margin: 2px 2px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.last-purchase-date-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 26%;
    border: 0;
    margin: 2px 2px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    float: right;
}

.notes-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.edit-submit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #A9A9A9;
    width: 30%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: right;
}

.edit-submit:hover,
.edit-submit:active,
.edit-submit:focus {
    background: #002366;
}

.edit-clear {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #A9A9A9;
    width: 30%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.edit-clear:hover,
.edit-clear:active,
.edit-clear:focus {
    background: #002366;
}

.edit-cancel {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #A9A9A9;
    width: 30%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: left;
}

.edit-cancel:hover,
.edit-cancel:active,
.edit-cancel:focus {
    background: #002366;
}